* {
	font-family: "Inter", Arial, Helvetica, sans-serif;
	/* border: 1px solid red; */
}

body {
	background-color: antiquewhite;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0;
}

h1 {
	text-align: center;
}

.player-info {
	font-size: 1.5rem;
	display: flex;
	justify-content: space-between;
	width: 50%;
}

.player-turn {
	font-size: 2rem;
	margin: 16px 0;
}

.game-board-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 12px;
	background-color: black;
}

.board-tile {
	width: 128px;
	height: 128px;
	background-color: antiquewhite;
}

.board-tile:hover {
	cursor: pointer;
}
